<div class="vrh" fxFlex fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <div>
      <h2 class="text">Profesionalni web dizajn(frontend) ili dizajn(frontend)+backend.</h2>
      <h3 class="text">Radimo u Angluar+Material+CSS.</h3>
      <h3 class="text">Svi projekti koje radimo su responzivni što znači da na svim uređajima izgledati dobro.</h3>
    </div>
  </div>
</div>
<div fxLayout="column" fxLayoutAlign="center center" fxFlex>
  <img src="../../../assets/images/responsiv.gif" class="slika">
  <h3 class="text">Cijena je po dogovoru ovisno o projektu i zahtjevima projekta.</h3>
</div>
<div class="siviDio" fxFlex fxLayout="row" fxLayoutAlign="center space-evenly">
  <mat-card class="primjer hover">
    <mat-card-header>
      <mat-card-title>Primjer 1</mat-card-title>
      <mat-card-subtitle>Frontend</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/fontend.png" class="slika">
    <mat-card-content>
      <h3>Samo dizajn(frontend)+domena*.</h3>
      <h4>*Besplatna domena od ponuđenih.</h4>
    </mat-card-content>
  </mat-card>
  <mat-card class="primjer hover">
    <mat-card-header>
      <mat-card-title>Primjer 2</mat-card-title>
      <mat-card-subtitle>Frontend+Backend</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/fronback.png" class="slika">
    <mat-card-content>
      <h3>Dizajn+Programirane funkcije+Domena*+Web prostor*.</h3>
      <h4>*Po želji.</h4>
    </mat-card-content>
  </mat-card>
</div>
