.livaStrana {
  background-image: url("../../assets/images/cpu.jpg");
  background-size: cover;
}
.desnaStrana {
  background-color: white;
}
.polje {
  background:rgba(255,255,255,0.5);
}
.transp {
  background:rgba(255,255,255,0.2);
  position: center;
}
.logo {
  position: center;
}
