<mat-toolbar color="primary" class="header mat-elevation-z6" fxLayout="row" fxLayoutAlign="space-between">
  <div fxLayout="row" fxLayoutAlign="start center">
    <button mat-icon-button routerLink="/home"><mat-icon>home</mat-icon></button>
    <button mat-button [matMenuTriggerFor]="menu">Usluge</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/usluge/proweb">Profesionalni web</button>
      <button mat-menu-item>Gaming web</button>
      <button mat-menu-item>Shoutcast Radio</button>
      <button mat-menu-item>SSL Certifikati</button>
      <button mat-menu-item>Web hosting</button>
    </mat-menu>
    <button mat-button routerLink="/contact">Kontakt</button>
    <button mat-button>O nama</button>
  </div>
    <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-button class="zastava"><img src="../../../assets/images/hr.png" class="zastava"></button>
        <button mat-button class="zastava"><img src="../../../assets/images/gb.png" class="zastava"></button>
        <button mat-button class="zastava"><img src="../../../assets/images/un.png" class="zastava"></button>
    </div>
</mat-toolbar>
