.header {
  z-index: 10;
  background:rgba(0,176,255,0.8);
}

.header .mat-button {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.zastava {
  max-height: 40px;
  max-width: 40px;
}
.logo {
  max-height: 100px;
  max-width: 100px;
}
.kartica {
  font-style: oblique;

}
.slika img {
  max-width: 105px;
  max-height: 45px;
}
.tipka {
  height: 100%;
}
