.header .mat-button {
  font-family: Roboto,Helvetica Neue,sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.zastava {
  max-height: 40px;
  max-width: 40px;
}
.logo {
  max-height: 100px;
  max-width: 100px;
}

