<mat-toolbar color="primary" class="header mat-elevation-z6" fxLayout="row" fxLayoutAlign="space-between">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div><img class="logo" src="../../../assets/images/logo.png"></div>
    <button mat-icon-button routerLink="/home"><mat-icon>home</mat-icon></button>
    <button mat-button [matMenuTriggerFor]="menu">Usluge</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item class="slika" routerLink="/usluge/proweb" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
        <img src="../../../assets/images/cpu.jpg" >
        <div>Profesionalni web</div>
      </button>
      <button mat-menu-item class="slika" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
        <img src="../../../assets/images/cpu.jpg" >
        <div>Gaming web</div>
      </button>
      <button mat-menu-item class="slika" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
        <img src="../../../assets/images/cpu.jpg"  >
        <div>Shoutcast Radio</div>
      </button>
      <button mat-menu-item class="slika" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
        <img src="../../../assets/images/cpu.jpg" >
        <div>SSL Certifikati</div>
      </button>
      <button mat-menu-item class="slika" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
        <img src="../../../assets/images/cpu.jpg" >
        <div>Web hosting</div>
      </button>
    </mat-menu>
    <button mat-button>Trgovina</button>
    <button mat-button routerLink="/contact">Kontakt</button>
    <button mat-button>O nama</button>
  </div>
    <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-button class="zastava"><img src="../../../assets/images/hr.png" class="zastava"></button>
        <button mat-button class="zastava"><img src="../../../assets/images/gb.png" class="zastava"></button>
        <button mat-button class="zastava"><img src="../../../assets/images/un.png" class="zastava"></button>
    </div>
</mat-toolbar>
