<div class="checkout" fxLayout="row" fxLayoutAlign="space-evenly" fxLayoutGap="20px">
  <div fxFlex>

    <p><mat-form-field>
      <input matInput placeholder="Ime">
    </mat-form-field></p>

    <p><mat-form-field>
      <input matInput placeholder="Enter your email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field></p>

    <p><mat-checkbox>Keep me up to date with news.</mat-checkbox></p>

    <p><mat-form-field>
      <textarea matInput placeholder="Adresa"></textarea>
    </mat-form-field></p>

    <p><mat-form-field>
      <mat-select (selectionChange)="paymentMethodChanged($event)" placeholder="Payment method">
        <mat-option value="creditCard">Credit card</mat-option>
        <mat-option value="payPal">PayPal</mat-option>
      </mat-select>
    </mat-form-field></p>

  </div>
  <div fxFlex>

    <p><mat-form-field>
      <input matInput placeholder="Prezime">
    </mat-form-field></p>

    <p><mat-form-field>
      <input matInput placeholder="Order notes">
    </mat-form-field></p>

  </div>
</div>
