<mat-card class="mat-elevation-z2 shout1 hover">
  <span class="text-upper"></span>
  <mat-card-subtitle align="center"><h1>{{inputShoutcast.name}}</h1></mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-list class="tab">
    <mat-list-item>
      <mat-icon mat-icon-button>done</mat-icon>
      <h4 mat-line>{{inputShoutcast.bandwidth === 'unlimited' ? 'Neogranicen' : inputShoutcast.bandwidth}} mjesecni promet</h4>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-icon-button>done</mat-icon>
      <h4 mat-line>{{inputShoutcast.bitrate}}Kbps</h4>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-icon-button>{{inputShoutcast.adminWebPanel ? 'done' : 'clear'}}</mat-icon>
      <h4 mat-line>Administracijski web panel</h4>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-icon-button>{{inputShoutcast.autoDj ? 'done' : 'clear'}}</mat-icon>
      <h4 mat-line>Auto DJ</h4>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-icon-button>done</mat-icon>
      <h4 mat-line>{{inputShoutcast.slots}} slusatelja</h4>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-icon-button>{{inputShoutcast.currentArtist ? 'done' : 'clear'}}</mat-icon>
      <h4 mat-line>Prikaz trenutacnog izvodaca</h4>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-icon-button>done</mat-icon>
      <h4 mat-line>{{inputShoutcast.dataCenter === 'hr' ? 'Hrvatski' : 'Nepoznat'}} data centar</h4>
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex class="pad-left pad-right">
    <button class="tipka" color="primary" mat-raised-button routerLink="/contact">VIŠE</button>
    <h3>+{{inputShoutcast.price}} Kn</h3>
  </div>
</mat-card>
