<mat-toolbar class="footer" fxLayout="row" fxLayoutAlign="center">
  <mat-tab-group>
    <mat-tab label="Kontakt">milibyte@usluge.hr</mat-tab>
    <mat-tab label="O nama">Milibyte, obrt za usluge, vl. Petar Milić</mat-tab>
    <mat-tab label="Usluge i proizvodi">
      <div  class="buttons-tab">
        <button mat-button>Profesionalni web</button>
        <button mat-button>Gaming website</button>
        <button mat-button>Web hosting</button>
        <button mat-button>SSL certifikati</button>
        <button mat-button>Shoutcast radio</button>
      </div>
    </mat-tab>
    <mat-tab label="Partners">/</mat-tab>
  </mat-tab-group>
</mat-toolbar>
