<div class="vrh" fxFlex fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <div>
      <h2 class="text">Gaming web dizajn za bilo koje igre</h2>
      <h3 class="text">Radimo u Joomla, Wordpress, e107...</h3>
      <h3 class="text">Svi projekti koje radimo su responzivni što znači da na svim uređajima izgledati dobro.</h3>
    </div>
  </div>
</div>
<div class="siviDio" fxFlex fxLayout="row" fxLayoutAlign="center space-evenly">
  <mat-card class="primjer hover">
    <mat-card-header>
      <mat-card-title>Gaming primjer</mat-card-title>
      <mat-card-subtitle>Joomla</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/gaming-diablodesign.jpg" class="slika">
    <mat-card-content>
      <h3>Responzivni dizajn sa CMS za lako editiranje i upravljanje webstranicom.</h3>
      <h3>Slike i text uređujete po svojoj želji u jednostavnom sučelju.</h3>
      <p><a mat-fab color="primary" href="http://joomla3.diablodesign.eu/dd-gaming-94">DEMO</a></p>
    </mat-card-content>
  </mat-card>
</div>
