<div>
  <div class="vrh" fxLayout="column" fxLayoutAlign="center center" fxFlex>

      <p class="vrhtxt"><strong>MILIBYTE</strong> - NAJBOLJI DIZAJN ZA VASE WEBSTRANICE </p>

    <p>
      <button mat-fab>VIŠE</button>
    </p>
  </div>

  <div>
    <button class="waccap" mat-fab mat-raised-button></button>
    <button class="youtube" mat-fab mat-raised-button></button>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-evenly end" fxFlex>
    <div fxLayout="row" fxLayoutAlign="space-between">

      <app-hosting *ngFor="let hosting of hostings" [inputHosting]="hosting"></app-hosting>

    </div>

    <div fxLayout="row" fxLayoutAlign="space-between">

      <app-shoutcast *ngFor="let shoutcast of shoutcasts" [inputShoutcast]="shoutcast"></app-shoutcast>

    </div>
  </div>
</div>
