.col1 {
  background-image: url("../../assets/images/cpu.jpg");
  background-size: cover;
  color: white;
  font-size: large;
}
.col2 {

}
.slika {
  max-width: 300px;
  max-height: 100px;
  border: aliceblue solid 1px;
  border-radius: 15px;
}
.hosting {
  background-color: cornflowerblue;
  color: white;
  min-height: 200px;
}
