.vrh {
  background-color: #f8f9fa;
}
.slika {
  max-width: 302px;
  max-height: 82px;
  border: aliceblue solid 1px;
  border-radius: 15px;
}

.hosting {
  background-image: url("../../assets/images/serverhost.png");
  color: white;
  min-height: 200px;
}
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  overflow: auto;
  margin-top: 210px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.shout2 {
  border-radius: 15px;
  background-color: orange;
  max-width: 300px;
}

.game1 {
  border-radius: 15px;
  background-color: orange;
  max-width: 300px;
  color: white;
}
.game2 {
  border-radius: 15px;
  background-image: url("../../assets/images/camo.png");
  max-width: 300px;
  color: white;
}
.tablica {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: honeydew;
}
.mat-list {
  color: white;
}
.waccap {
  position: absolute;
  top: 270px;
  right: 15px;
  background-color: transparent;
  background-size: cover;
  background-image: url("../../assets/images/wac.png");
}
.youtube {
  position: absolute;
  top: 350px;
  right: 15px;
  background-color: transparent;
  background-size: cover;
  background-image: url("../../assets/images/you.png");
}
.naslov {
  color: white;
  text-shadow: 2px 2px black;
}
.vrh-card {
  background:rgba(255,255,255,0.2);
  position: center;
}
.tablica-naslov {
  color: white;
  text-shadow: 2px 2px black;
}
